/* font-family: 'Open Sans', sans-serif; */

body {
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../img/background.jpg)
}

.centro {
    margin: 0  auto;
    width: 75%;
    display: flexbox;
    justify-content: center;

}

header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background-color: rgb(70, 53, 231);
    padding: 1em 0;
}

.logo {
    border-radius: 10%;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    top: 5px;
}

nav {
    margin: 0 auto;
    background-color: rgba(117, 103, 247);
    margin-bottom: 2em;
    align-content: space-around;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display:inline-flex;
    align-content:space-around;
    align-items: center;
    width: 20%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo {
    background-color: rgba(117, 103, 247, 0.555);
    text-decoration: underline;
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 1em 0;
    margin-top: 2em;
    text-align: center;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color: black;
    font-weight: 700;
    margin: 0 0 1em;
}

.decorado {
    text-decoration:underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.columnas {
    overflow: hidden;
}

.margen {
    padding: 5px;
    margin: 5px;
}

.pagos {
    background-color: rgb(117, 103, 247); 
    border-radius: 10px;
}


/*inicio home*/
.bienvenidos {
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    color: black;
    border-radius: 5px;
    background-color: rgba(117, 103, 247, 0.87);
}

.size {
    font-size: 1.05em;
}

/* fin home*/
/* Inicio Nosotros */

.historia {
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.3em;
    padding-right: 2em;
    background-color: rgba(117, 103, 247, 0.952);

}

.topics {
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-size: 1.3em;
    padding-left: 2.25em;
    max-width: 960px;
    overflow: hidden;
    background-color: rgba(117, 103, 247, 0.87);
}

.topic {
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: #ccc;
    border-radius: 10px;
    border: 1px solid black;
    text-align: left;
    align-items: left;
    justify-content: left;
}

.titulo_topic {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.parrafo_topic {
    font-size: 1.1rem;
    padding: 5px;
    text-align: justify;

}

/* fin nosotros */

/* Inicio Contacto */

.columna {
    background-color: grey;
    height: 400px;
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}

.columna.left {
   border-right: 1px solid gray;
}

.columna.right p {
    font-size: 1.1em;
}

.columna.right ul li {
    font-size: 1em;
}

.border-down {
    border-bottom: 1px solid black;
}

.formulario label {
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

.formulario input, .formulario textarea {
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
}

.formulario input [type="submit"] {
    background-color: #6da9ed;
    box-shadow: 0 0 70px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.formulario textarea {
    height: 10em;
    resize: none;
}

.formulario .acciones {
    text-align: center;
}
/* Fin Contacto */


/* Media queries*/


@media (max-width: 430px) {
    .imghome {
        padding-left: 10%;
    }    

    header h1 {
        font-size: 2em;
        padding-top: 10px;
    }
.bienvenidos, .testimonios {
    font-size: 1em;
}}

@media (max-width: 505px) {
    .profesional {
        flex-wrap: wrap;
    }
    
}

/* Fin Media Queries*/